.style-back{
    background: linear-gradient(rgb(246, 213, 80), transparent);
    text-align: center;
}

.trash{
    background-color: transparent;
    margin-right: 10px;
    margin-top: 5px;
    border-color: black;
    cursor: pointer;
}

.mealList{
    cursor: pointer;
}

.list{
    margin-top: 5px;
}