.container5 {
    background-color: rgb(255, 222, 89);
    height: auto;
}

.nome-proj{
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: italic;
}

.img{
    width: 150px;
    height: 150px;
    padding: 10px;
    margin-top: -60px;
}

.conteudo{
    display: table;
}

.imagem{
    display: table-cell;
    float: left;
}

.topicos{
    display: table-cell;
    float: left;
    padding: 10px;
    margin-left: 25px;
    text-decoration: underline;
    font-size: 1.4em;
}

.logbutton{
    font-size: 0.7em;
}

.style-link{
    color: black;
    font-style: italic;
}

.welcome{
    text-decoration: underline;
}